.button {
  height: 170px;
  width: 150px;
  margin: 10px;
  border-radius: 5px;
  border-width: 2px 2px;
  border-color: rgb(14, 82, 21);
  box-shadow: 2px 2px #05a127;
  font-size: 20px;
  transition: transform 0.5s;

  & img {
    width: 90%;
    pointer-events: none;
  }

  &.reset {
   height: 50px;
  }

  &:hover {
    background: rgb(187, 253, 220);
    transform: scale3d(1.1, 1.1, 1.1) rotateZ(5deg)
  }
}

.gameTitle {
  display: flex;
  justify-content: center;
  font-size: 38px;
  text-shadow: 2px 2px #ad0a0a; 
  color: #fff7c9;
  background-color: #fc620f;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px, 2px;
  border-color: #ad0a0a;
  padding: 5px;
  margin: 10px;
}

.button-container {
  font-size: 20px;
  background-color: #19c183;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px 2px;
  border-color: #0f7a26;
  text-shadow: 2px 2px rgb(233, 248, 239);
  text-align: center;
  margin: 10px;

  & h2 {
    margin: 0;
  }
}

.scoreTracker {
  background-color: rgb(170, 38, 38);
  font-size: 20px;
  text-shadow: 2px 2px rgb(233, 248, 239);
  border-radius: 10px;
  border-width: 2px 2px;
  border-style: solid;
  text-align: center;
  text-justify: auto;
  margin: 10px;

  & h2 {
    margin: -5px;
  }
}

.scoreContainer {
  width: 100px;
  height: 150px;
  background-color: #eb9f9f;
  text-align: center;
  border-radius: 10px;
  border-width: 2px 2px;
  border-style: solid;
  text-shadow: 2px 2px rgb(233, 248, 239);
  font-size: 16px;
  margin: 10px;
  padding: 15px;
  display: inline-block;
}

.results {
  background-color: rgb(24, 108, 182);
  text-align: center;
  text-shadow: 2px 2px rgb(181, 236, 240);
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(5, 71, 80);
  margin: 10px;

  & h1{
    margin: -5px;
  }
}

.scoreCounter {
  border-style:solid;
  height: 75px;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  margin-top: 15px;
  padding: 5px;
  border-radius: 10px;
  font-size: 30px;
  background-color: rgb(245, 244, 244);
}

.displayScores {
  margin: 5px;
  display:flex;
  border-radius: 10px;
  border-style: solid;
  height: 50px;
  background-color: aliceblue;
  text-shadow: 2px 2px white;
  align-items: center;
  justify-content: center;
}